<div *ngIf="!username">
  <div class="container align-content-center" *ngIf="$resStat.error">
  <div class="col-12 align-content-center">
    <h1 class="text-center">{{$resStat.error}}</h1>
  </div>
  <!-- /.col -->
  </div>
  <!-- /.container -->
  <div class="container" *ngIf="!$resStat.error">
    <div class="row flex-center">
      <div class="col-6">
        <h3>Rechercher par platform et username : </h3>
        <hr>
        <div class="card">
          <div class="card-body">
            <form class="form-inline">
              <div class="md-form form-group">
                <select name="platform" class="mdb-select dropdown-content select-dropdown" id="platform" [(ngModel)]="$inputs.platforms">
                  <option value="pc" selected>PC</option>
                  <option value="ps4">PS4</option>
                  <option value="xbox">Xbox</option>
                </select>
              </div>
              <div class="md-form form-group">

                <input mdbActive type="text" class="form-control" id="form10" name="username" mdbInputValidate [(ngModel)]="$inputs.username">
                <label class="active" for="form10">Username</label>
              </div>

              <div class="md-form form-group">
                <button class="btn btn-primary btn-sm waves-light" mdbRippleRadius (click)="getStat($inputs.platforms,$inputs.username)">Rechercher</button>
              </div>

            </form>

          </div>
          <!-- /.grid-body -->
        </div>
      </div>
    </div>
      <br>
        <!-- Stat -->
      <div class="row">
        <div class="col">
          <h1>Lifetime <span class="btn btn-info btn-sm float-right">Voir graph</span>
            <span class="btn btn-info btn-sm float-right" (click)="hideShow('stat')" *ngIf="hiddenStat">Show</span>
            <span class="btn btn-info btn-sm float-right" (click)="hideShow('stat')" *ngIf="!hiddenStat">Hide</span>
          </h1>
          <hr>
          <div class="card">
            <div class="card-header unique-color-dark">
              <h4 class="white-text">{{$user.epicUserHandle}}  <span class="float-right white-text size-change">{{$lifeTimeStats.totWin}} Wins | {{$lifeTimeStats.totKill}} Kills | {{$lifeTimeStats.totMatches}} Games | {{$lifeTimeStats.timePlayed}} Played</span></h4>
            </div>
            <div class="card-body" *ngIf="!hiddenStat">
              <div class="row"> <!-- START ROW -->
                <div class="col-4">
                  <!--Table-->
                  <table class="table">
                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                    <tr class="text-white">
                      <th><h4>SOLO</h4></th>
                      <th></th>
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    <tr>
                      <th scope="row">{{$SoloGame.kd.label}}</th>
                      <td>{{$SoloGame.kd.value}}</td>

                    </tr>
                    <tr>
                      <th scope="row">{{$SoloGame.top1.label}}</th>
                      <td>{{$SoloGame.top1.value}}</td>

                    </tr>
                    <tr>
                      <th scope="row">{{$SoloGame.kills.label}}</th>
                      <td>{{$SoloGame.kills.value}}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{$SoloGame.winRatio.label}}</th>
                      <td>{{$SoloGame.winRatio.value}}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{$SoloGame.matches.label}}</th>
                      <td>{{$SoloGame.matches.value}}</td>
                    </tr>
                    </tbody>
                    <!--Table body-->
                  </table>
                </div>
                <div class="col-4">
                  <!--Table-->
                  <table class="table">
                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                    <tr class="text-white">
                      <th><h4>DUO</h4></th>
                      <th></th>
                    </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                    <tr>
                      <th scope="row">{{$DuoGame.kd.label}}</th>
                      <td>{{$DuoGame.kd.value}}</td>

                    </tr>
                    <tr>
                      <th scope="row">{{$DuoGame.top1.label}}</th>
                      <td>{{$DuoGame.top1.value}}</td>

                    </tr>
                    <tr>
                      <th scope="row">{{$DuoGame.kills.label}}</th>
                      <td>{{$DuoGame.kills.value}}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{$DuoGame.winRatio.label}}</th>
                      <td>{{$DuoGame.winRatio.value}}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{$DuoGame.matches.label}}</th>
                      <td>{{$DuoGame.matches.value}}</td>
                    </tr>
                    </tbody>
                    <!--Table body-->
                  </table>
                </div>
                <div class="col-4">
                  <!--Table-->
                  <table class="table">
                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                    <tr class="text-white">
                      <th><h4>SQUAD</h4></th>
                      <th></th>
                    </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                    <tr>
                      <th scope="row">{{$SquadGame.kd.label}}</th>
                      <td>{{$SquadGame.kd.value}}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{$SquadGame.top1.label}}</th>
                      <td>{{$SquadGame.top1.value}}</td>

                    </tr>
                    <tr>
                      <th scope="row">{{$SquadGame.kills.label}}</th>
                      <td>{{$SquadGame.kills.value}}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{$SquadGame.winRatio.label}}</th>
                      <td>{{$SquadGame.winRatio.value}}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{$SquadGame.matches.label}}</th>
                      <td>{{$SquadGame.matches.value}}</td>
                    </tr>
                    </tbody>
                    <!--Table body-->
                  </table>
                </div>
              </div> <!-- END ROW -->
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <br>
        <!-- Season 3 -->
      <div class="row">
        <div class="col">
          <h1>Season 3
            <span class="btn btn-info btn-sm float-right" (click)="hideShow('s3')" *ngIf="hiddenS3">Show</span>
            <span class="btn btn-info btn-sm float-right" (click)="hideShow('s3')" *ngIf="!hiddenS3">Hide</span>
          </h1>
          <hr>
          <div class="card">
            <div class="card-body">
              <i>Soon</i>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <br>
        <!-- Match history -->
    <div class="row">
        <div class="col-12">
          <h1>Match history <span class="btn btn-info btn-sm float-right" (click)="hideShow('history')" *ngIf="hiddenHistory">Show</span>
            <span class="btn btn-info btn-sm float-right" (click)="hideShow('history')" *ngIf="!hiddenHistory">Hide</span></h1>
          <hr>
          <div class="card" *ngIf="!hiddenHistory">
            <div class="card-header">
              Update in X minutes
            </div>
            <div class="card-body elegant-color-dark">
              <div id="match-listing" class="dtr-match-listing-2">
                <div class="dtr-match-entry" *ngFor="let recentMatch of $recentMatch">
                  <div class="details">
                    <div class="title">{{recentMatch.matches}} matches</div>
                  </div>
                  <div class="stats">
                    <div class="stat">
                      <span class="name">Win</span>
                      <span class="value">{{recentMatch.top1}}</span>
                    </div>
                    <div class="stat" [ngSwitch]="recentMatch.playlist">
                      <span class="name">MODE</span>
                      <span class="value" *ngSwitchCase="'p9'">SQUAD</span>
                      <span class="value" *ngSwitchCase="'p2'">SOLO</span>
                      <span class="value" *ngSwitchCase="'p10'">DUO</span>
                    </div>
                    <div class="stat">
                      <span class="name">SCORE</span>
                      <span class="value">+ {{recentMatch.score}}</span>
                    </div>
                    <div class="stat">
                      <span class="name">KILLS</span>
                      <span class="value">{{recentMatch.kills}}</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col-12 -->
      </div>
    </div>
  <br>
</div>
<div *ngIf="username">
  <div class="container align-content-center" *ngIf="$resStat.error">
    <div class="col-12 align-content-center">

      <h1 class="text-center">{{$resStat.error}}</h1>
    </div>
    <!-- /.col -->
  </div>
  <div class="container" *ngIf="!$resStat.error">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header unique-color-dark">
            <h4 class="white-text">{{$user.epicUserHandle}}  <span class="float-right white-text size-change">{{$lifeTimeStats.totWin}} Wins | {{$lifeTimeStats.totKill}} Kills | {{$lifeTimeStats.totMatches}} Games | {{$lifeTimeStats.timePlayed}} Played</span></h4>
          </div>
          <div class="card-body">
            <div class="row"> <!-- START ROW -->
              <div class="col-4">
                <!--Table-->
                <table class="table">
                  <!--Table head-->
                  <thead class="mdb-color darken-3">
                  <tr class="text-white">
                    <th><h4>SOLO</h4></th>
                    <th></th>
                  </tr>
                  </thead>
                  <!--Table head-->

                  <!--Table body-->
                  <tbody>
                  <tr>
                    <th scope="row">{{$SoloGame.kd.label}}</th>
                    <td>{{$SoloGame.kd.value}}</td>

                  </tr>
                  <tr>
                    <th scope="row">{{$SoloGame.top1.label}}</th>
                    <td>{{$SoloGame.top1.value}}</td>

                  </tr>
                  <tr>
                    <th scope="row">{{$SoloGame.kills.label}}</th>
                    <td>{{$SoloGame.kills.value}}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{$SoloGame.winRatio.label}}</th>
                    <td>{{$SoloGame.winRatio.value}}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{$SoloGame.matches.label}}</th>
                    <td>{{$SoloGame.matches.value}}</td>
                  </tr>
                  </tbody>
                  <!--Table body-->
                </table>
              </div>
              <div class="col-4">
                <!--Table-->
                <table class="table">
                  <!--Table head-->
                  <thead class="mdb-color darken-3">
                  <tr class="text-white">
                    <th><h4>DUO</h4></th>
                    <th></th>
                  </tr>
                  </thead>
                  <!--Table head-->
                  <!--Table body-->
                  <tbody>
                  <tr>
                    <th scope="row">{{$DuoGame.kd.label}}</th>
                    <td>{{$DuoGame.kd.value}}</td>

                  </tr>
                  <tr>
                    <th scope="row">{{$DuoGame.top1.label}}</th>
                    <td>{{$DuoGame.top1.value}}</td>

                  </tr>
                  <tr>
                    <th scope="row">{{$DuoGame.kills.label}}</th>
                    <td>{{$DuoGame.kills.value}}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{$DuoGame.winRatio.label}}</th>
                    <td>{{$DuoGame.winRatio.value}}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{$DuoGame.matches.label}}</th>
                    <td>{{$DuoGame.matches.value}}</td>
                  </tr>
                  </tbody>
                  <!--Table body-->
                </table>
              </div>
              <div class="col-4">
                <!--Table-->
                <table class="table">
                  <!--Table head-->
                  <thead class="mdb-color darken-3">
                  <tr class="text-white">
                    <th><h4>SQUAD</h4></th>
                    <th></th>
                  </tr>
                  </thead>
                  <!--Table head-->
                  <!--Table body-->
                  <tbody>
                  <tr>
                    <th scope="row">{{$SquadGame.kd.label}}</th>
                    <td>{{$SquadGame.kd.value}}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{$SquadGame.top1.label}}</th>
                    <td>{{$SquadGame.top1.value}}</td>

                  </tr>
                  <tr>
                    <th scope="row">{{$SquadGame.kills.label}}</th>
                    <td>{{$SquadGame.kills.value}}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{$SquadGame.winRatio.label}}</th>
                    <td>{{$SquadGame.winRatio.value}}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{$SquadGame.matches.label}}</th>
                    <td>{{$SquadGame.matches.value}}</td>
                  </tr>
                  </tbody>
                  <!--Table body-->
                </table>
              </div>
            </div> <!-- END ROW -->
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.row -->
  </div>
</div>
