<div class="col-3">
  <!--Table-->
  <table class="table">
    <!--Table head-->
    <thead class="mdb-color darken-3">
    <tr class="text-white">
      <th><h4>{{self?.username}}</h4></th>
      <th></th>
    </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
    <tr>
      <th scope="row">{{solo.kd?.label}}</th>
      <td>{{solo.kd?.value}}</td>

    </tr>
    <tr>
      <th scope="row">{{solo.top1?.label}}</th>
      <td>{{solo.top1?.value}}</td>

    </tr>
    <tr>
      <th scope="row">{{solo.kills?.label}}</th>
      <td>{{solo.kills?.value}}</td>
    </tr>
    <tr>
      <th scope="row">{{solo.winRatio?.label}}</th>
      <td>{{solo.winRatio?.value}}</td>
    </tr>
    <tr>
      <th scope="row">{{solo.matches?.label}}</th>
      <td>{{solo.matches?.value}}</td>
    </tr>
    </tbody>
    <!--Table body-->
  </table>
</div>
