<div class="row flex-center">
  <div class="col-6">
    <h3>Rechercher par platform et username : </h3>
    <hr>
    <div class="card">
      <div class="card-body">
        <form class="form-inline">
          <div class="md-form form-group">
            <select name="platform" class="mdb-select dropdown-content select-dropdown" id="platform" #platofrm>
              <option value="pc" selected>PC</option>
              <option value="ps4">PS4</option>
              <option value="xbox">Xbox</option>
            </select>
          </div>
          <div class="md-form form-group">

            <input mdbActive type="text" class="form-control" id="form10" name="username" mdbInputValidate #username>
            <label class="active" for="form10">Username</label>
          </div>

          <div class="md-form form-group">
            <button class="btn btn-primary btn-sm waves-light" mdbRippleRadius (click)="putFormData(platofrm.value, username.value)">Rechercher</button>
          </div>

        </form>

      </div>
      <!-- /.grid-body -->
    </div>
  </div>
</div>
