<br>
<div class="row">
  <div class="col">
    <h3>Season {{season}} <span class="btn btn-info btn-sm float-right">Voir graph</span></h3>
    <hr>
    <div class="card">
      <div class="card-body">
        <div class="row"> <!-- START ROW -->
          <div class="col-4">
            <!--Table-->
            <table class="table">
              <!--Table head-->
              <thead class="mdb-color darken-3">
              <tr class="text-white">
                <th><h4>SOLO</h4></th>
                <th></th>
              </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody>
              <tr>
                <th scope="row">{{solo.kd?.label}}</th>
                <td>{{solo.kd?.value}}</td>

              </tr>
              <tr>
                <th scope="row">{{solo.top1?.label}}</th>
                <td>{{solo.top1?.value}}</td>

              </tr>
              <tr>
                <th scope="row">{{solo.kills?.label}}</th>
                <td>{{solo.kills?.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{solo.winRatio?.label}}</th>
                <td>{{solo.winRatio?.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{solo.matches?.label}}</th>
                <td>{{solo.matches?.value}}</td>
              </tr>
              </tbody>
              <!--Table body-->
            </table>
          </div>
<!--          <div class="col-4">
            &lt;!&ndash;Table&ndash;&gt;
            <table class="table">
              &lt;!&ndash;Table head&ndash;&gt;
              <thead class="mdb-color darken-3">
              <tr class="text-white">
                <th><h4>DUO</h4></th>
                <th></th>
              </tr>
              </thead>
              &lt;!&ndash;Table head&ndash;&gt;
              &lt;!&ndash;Table body&ndash;&gt;
              <tbody>
              <tr>
                <th scope="row">{{duo.kd.label}}</th>
                <td>{{duo.kd.value}}</td>

              </tr>
              <tr>
                <th scope="row">{{duo.top1.label}}</th>
                <td>{{duo.top1.value}}</td>

              </tr>
              <tr>
                <th scope="row">{{duo.kills.label}}</th>
                <td>{{duo.kills.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{duo.winRatio.label}}</th>
                <td>{{duo.winRatio.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{duo.matches.label}}</th>
                <td>{{duo.matches.value}}</td>
              </tr>
              </tbody>
              &lt;!&ndash;Table body&ndash;&gt;
            </table>
          </div>
          <div class="col-4">
            &lt;!&ndash;Table&ndash;&gt;
            <table class="table">
              &lt;!&ndash;Table head&ndash;&gt;
              <thead class="mdb-color darken-3">
              <tr class="text-white">
                <th><h4>SQUAD</h4></th>
                <th></th>
              </tr>
              </thead>
              &lt;!&ndash;Table head&ndash;&gt;
              &lt;!&ndash;Table body&ndash;&gt;
              <tbody>
              <tr>
                <th scope="row">{{squad.kd.label}}</th>
                <td>{{squad.kd.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{squad.top1.label}}</th>
                <td>{{squad.top1.value}}</td>

              </tr>
              <tr>
                <th scope="row">{{squad.kills.label}}</th>
                <td>{{squad.kills.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{squad.winRatio.label}}</th>
                <td>{{squad.winRatio.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{squad.matches.label}}</th>
                <td>{{squad.matches.value}}</td>
              </tr>
              </tbody>
              &lt;!&ndash;Table body&ndash;&gt;
            </table>
          </div>-->
        </div> <!-- END ROW -->
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
