<br>
<div class="row">
  <div class="col">
    <h3>Stats<span class="btn btn-info btn-sm float-right">Voir graph</span></h3>
    <hr>
    <div class="card">
      <div class="card-header unique-color-dark">
        <h4 class="white-text">{{$user.epicUserHandle}}  <span class="float-right white-text size-change">{{$lifeTimeStats.totWin}} Wins | {{$lifeTimeStats.totKill}} Kills | {{$lifeTimeStats.totMatches}} Games | {{$lifeTimeStats.timePlayed}} Played</span></h4>
      </div>
      <div class="card-body">
        <div class="row"> <!-- START ROW -->
          <div class="col-4">
            <!--Table-->
            <table class="table">
              <!--Table head-->
              <thead class="mdb-color darken-3">
              <tr class="text-white">
                <th><h4>SOLO</h4></th>
                <th></th>
              </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody>
              <tr>
                <th scope="row">{{$SoloGame.kd.label}}</th>
                <td>{{$SoloGame.kd.value}}</td>

              </tr>
              <tr>
                <th scope="row">{{$SoloGame.top1.label}}</th>
                <td>{{$SoloGame.top1.value}}</td>

              </tr>
              <tr>
                <th scope="row">{{$SoloGame.kills.label}}</th>
                <td>{{$SoloGame.kills.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{$SoloGame.winRatio.label}}</th>
                <td>{{$SoloGame.winRatio.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{$SoloGame.matches.label}}</th>
                <td>{{$SoloGame.matches.value}}</td>
              </tr>
              </tbody>
              <!--Table body-->
            </table>
          </div>
          <div class="col-4">
            <!--Table-->
            <table class="table">
              <!--Table head-->
              <thead class="mdb-color darken-3">
              <tr class="text-white">
                <th><h4>DUO</h4></th>
                <th></th>
              </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody>
              <tr>
                <th scope="row">{{$DuoGame.kd.label}}</th>
                <td>{{$DuoGame.kd.value}}</td>

              </tr>
              <tr>
                <th scope="row">{{$DuoGame.top1.label}}</th>
                <td>{{$DuoGame.top1.value}}</td>

              </tr>
              <tr>
                <th scope="row">{{$DuoGame.kills.label}}</th>
                <td>{{$DuoGame.kills.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{$DuoGame.winRatio.label}}</th>
                <td>{{$DuoGame.winRatio.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{$DuoGame.matches.label}}</th>
                <td>{{$DuoGame.matches.value}}</td>
              </tr>
              </tbody>
              <!--Table body-->
            </table>
          </div>
          <div class="col-4">
            <!--Table-->
            <table class="table">
              <!--Table head-->
              <thead class="mdb-color darken-3">
              <tr class="text-white">
                <th><h4>SQUAD</h4></th>
                <th></th>
              </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody>
              <tr>
                <th scope="row">{{$SquadGame.kd.label}}</th>
                <td>{{$SquadGame.kd.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{$SquadGame.top1.label}}</th>
                <td>{{$SquadGame.top1.value}}</td>

              </tr>
              <tr>
                <th scope="row">{{$SquadGame.kills.label}}</th>
                <td>{{$SquadGame.kills.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{$SquadGame.winRatio.label}}</th>
                <td>{{$SquadGame.winRatio.value}}</td>
              </tr>
              <tr>
                <th scope="row">{{$SquadGame.matches.label}}</th>
                <td>{{$SquadGame.matches.value}}</td>
              </tr>
              </tbody>
              <!--Table body-->
            </table>
          </div>
        </div> <!-- END ROW -->
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
